{% extends 'olcalc/base.html' %}

{% block title %}
    <title>AbitInfo | Олимпиадный справочник</title>
{% endblock %}

{% block navbar_buttons%}
    <li class="nav-item active">
        <a class="nav-link" href="#">Главная</a>
    </li>

{% endblock %}
    
{% block content %}

    

    <main role="main" class="container" style="margin-top: 50px;">

        
        
        <form action="/search/" method="get">
            <div class="form-group">
                <div class="form-group form-inline">
                    <select class="form-control" id="olymp_name" name="olymp_name" style="width: 300px;">
                       <option  value="" disabled selected>Название олимпиады</option>
                        {% for olymp in olymps %}
                            <option>{{olymp}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-dark" value="Search">Узнать льготы</button>
        </form>
        
        {% if olymp_name.title in olymps|title %} <!-- Здесь костыль, 'ab ab'.title -> 'Ab Ab' -->

            <p>Результат показан для олимпиады: <strong>{{ olymp_name }}</strong></p>
            <div class="table-responsive">
                <table class="table" >
                    <tr class="bg-dark" style="color: aliceblue">
                        <th>Рейтинг</th>
                        <th>ВУЗ</th>
                        <th>Специальность</th>
                        <th>Проходной балл</th>
                        <th>Льгота</th>
                        <th>Проходной балл</th>
                    </tr>
                    {% for univer in univers%}
                        <tr>
                            <td>{{univer.rating}}</td>
                            <td>{{univer.title}}</td>
                            <td>{{univer.s_title}}</td>
                            <td>{{univer.privilege}}</td>
                            <td>{{univer.passing_score}}</td>
                        </tr>


                    {% endfor%}
                </table>
            </div>
        {% endif %}
        
       

    </main>
    

{% endblock %}