{% extends 'olcalc/base.html' %}

{% block title %}
    <title>AbitInfo | Олимпиадный справочник</title>
{% endblock %}

{% block content %}

    <main role="main" class="container" style="margin-top: 50px;">
        <p class="lead">Выберите олимпиаду и узнайте, в какие ВУЗы она дает льготы.</p>
        <form action="/search/" method="get">
            <div class="form-group">
                <div class="form-group form-inline">
                    <select class="form-control" id="olymp_name" name="olymp_name" style="width: 300px;">
                       <option  value="" disabled selected>Название олимпиады</option>
                        {% for olymp in olymps %}
                            <option>{{olymp.title}} по предмету {{olymp.subject}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-dark" value="Search">Узнать льготы</button>
        </form>

        {% if olymp_name.title in olymps|title %} <!-- Здесь костыль, 'ab ab'.title -> 'Ab Ab' -->
            <p>Результат показан для олимпиады: <strong>{{ olymp_name }}</strong></p>
            <div class="table-responsive">
                <table class="table" >
                    <tr class="bg-dark" style="color: aliceblue">
                        <th>Вуз</th>
                        <th>Факультет</th>
                        <th>Специальность</th>
                        <th>Льгота</th>
                    </tr>
                    {% for q in qmap%}
                        <tr>
                            <td>{{q.unifac.faculty.university.title}}</td>
                            <td>{{q.unifac.faculty.title}}</td>
                            <td>{{q.unifac.title}}</td>
                            <td>{{q.privilege.title}}</td>
                        </tr>


                    {% endfor%}
                </table>
            </div>
        {% endif %}
    </main>

{% endblock %}