{% extends 'olcalc/base.html' %}

{% block content %}
    <div class="jumbotron d-none d-sm-block">
            <div class="container">
                <h1 class="display-4">Льготы победителям и призерам олимпиад</h1>
                <p class="lead">Какие льготы можно получить за олимпиаду? Какие ВУЗы ее принимают? Где БВИ, а где всего-лишь ИД?</p>
                <p class="lead">Мы поможем найти ответ!</p>
            </div>
        </div>

        <main role="main" class="container" style="margin-top: 100px;">
            <p class="lead">Просто введите название олимпиады и ее профиль и получите список льгот во все ВУЗы!</p>
            <p class="lead">Вы также можете выбрать необходимые фильры, чтобы отображать только интересующие вас ВУЗы.</p>
            <form action="">
                <div class="form-group">
                    <!--Название опционально
                <label for="olymp-1">Олимпиада:</label>
                -->
                    <div class="form-group form-inline">
                        <input type="text" class="form-control" id="olymp-1" placeholder="Название" name="olymp-name-1-ol" list="ol-list" autocomplete="off">

                        <select class="form-control" id="olymp-1">
                      <option value="" selected disabled>Предмет</option>
                      <option>Математика</option>
                      <option>Физика</option>
                      <option>Право</option>
                      <option>Химия</option>
                      <option>МХК</option>
                    </select>
                    </div>

                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#second-olymp" onclick="style.display='none'">Добавить олимпиаду</button>

                    <div id="second-olymp" class="collapse">
                        <div class="form-group">
                            <div class="form-group form-inline">
                                <input type="text" class="form-control" id="olymp-2" placeholder="Название" name="olymp-name-2-ol" list="ol-list" autocomplete="off">

                                <select class="form-control" id="olymp-2">
                              <option value="" selected disabled>Предмет</option>
                              <option>Математика</option>
                              <option>Физика</option>
                              <option>Право</option>
                              <option>Химия</option>
                              <option>МХК</option>
                            </select>
                            </div>

                            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#third-olymp" onclick="style.display='none'">Добавить олимпиаду</button>

                            <div id="third-olymp" class="collapse">
                                <div class="form-group">
                                    <div class="form-group form-inline">
                                        <input type="text" class="form-control" id="olymp-2" placeholder="Название" name="olymp-name-3-ol" list="ol-list" autocomplete="off">

                                        <select class="form-control" id="olymp-3">
                                      <option value="" selected disabled>Предмет</option>
                                      <option>Математика</option>
                                      <option>Физика</option>
                                      <option>Право</option>
                                      <option>Химия</option>
                                      <option>МХК</option>
                                    </select>
                                    </div>

                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#fourth-olymp" onclick="style.display='none'">Добавить олимпиаду</button>

                                    <div id="fourth-olymp" class="collapse">
                                        <div class="form-group">
                                            <div class="form-group form-inline">
                                                <input type="text" class="form-control" id="olymp-4" placeholder="Название" name="olymp-name-4-ol" list="ol-list" autocomplete="off">

                                                <select class="form-control" id="olymp-4">
                                              <option value="" selected disabled>Предмет</option>
                                              <option>Математика</option>
                                              <option>Физика</option>
                                              <option>Право</option>
                                              <option>Химия</option>
                                              <option>МХК</option>
                                            </select>
                                            </div>

                                            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#fifth-olymp" onclick="style.display='none'">Добавить олимпиаду</button>

                                            <div id="fifth-olymp" class="collapse">
                                                <div class="form-group">
                                                    <div class="form-group form-inline">
                                                        <input type="text" class="form-control" id="olymp-2" placeholder="Название" name="olymp-name-5-ol" list="ol-list" autocomplete="off">

                                                        <select class="form-control" id="olymp-5">
                                                      <option value="" selected disabled>Предмет</option>
                                                      <option>Математика</option>
                                                      <option>Физика</option>
                                                      <option>Право</option>
                                                      <option>Химия</option>
                                                      <option>МХК</option>
                                                    </select>
                                                    </div>
                                                    <p class="text-muted">
                                                        Пять олимпиад? Да ты реально крутой. Разработчики не предусмотрели таких олимпиадных монстров, мы их за это накажем! <br> Но шестую олимпиаду пока добавить все равно нельзя, прости их.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



                <!--
            Вото что нужно копировать после изменения количества предметов или добавления числла олимпиад. Поместить после строчки с первой кнопкой (id==second-olymp)
            
            <div id="second-olymp" class="collapse">
                <div class="form-group">
                    <label for="olymp-2">Олимпиада:</label>
                    <div class="form-group form-inline">
                        <input type="text" class="form-control" id="olymp-2" placeholder="Название" name="olymp-name-2-ol" list="ol-list" autocomplete="off">

                         <select class="form-control" id="olymp-2">
                          <option value="" selected disabled>Предмет</option>
                          <option>Математика</option>
                          <option>Физика</option>
                          <option>Право</option>
                          <option>Химия</option>
                          <option>МХК</option>
                        </select>
                    </div>

                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#third-olymp" onclick="style.display='none'">Добавить олимпиаду</button>
                </div>
            </div>
-->

                <button type="submit" class="btn btn-dark" value="Input">Узнать льготы</button>

                <!--List of olympiads-->
                <datalist id="ol-list">
                    <option value="Бельчонок">
                    <option value="Звезда">
                    <option value="Межвед">
                    <option value="Физтех">
                </datalist>

            </form>
        </main>

{% endblock %}