{% extends 'olcalc/base.html' %}

{% block title %}
    <title>AbitInfo | Дичь</title>
{% endblock %}

{% block navbar_buttons%}
    <li class="nav-item">
        <a class="nav-link" href='/'>Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Статьи</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">О нас</a>
    </li>
    
    <li class="nav-item active">
        <a class="nav-link" href="#">Тестовая</a>
    </li>
{% endblock %}
    
{% block content %}
    <div class="jumbotron d-none d-sm-block">
        <div class="container">
            <h1 class="display-4">Здесь тестирую всякую муть</h1>
            <p class="lead">Где можно все сломать? Здесь!</p>
        </div>
    </div>

    <main role="main" class="container" style="margin-top: 50px;">

        
        
        <form action="/search/" method="get">
            <div class="form-group">
                <div class="form-group form-inline">
                    <select class="form-control" id="olymp_name" name="olymp_name" style="width: 300px;">
                       <option value="" disabled selected>Название олимпиады</option>
                        {% for olymp in olymps %}
                            <option>{{olymp}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-dark" value="Search">Узнать льготы</button>
        </form>
        
        {% if olymp_name.title in olymps|title %} <!-- Здесь костыль, 'ab ab'.title -> 'Ab Ab' -->
            <p>Результат показан для олимпиады: <strong>{{ olymp_name }}</strong></p>
            <!--
            {% for us in univols.all %}
                {{us}}
                <p>hi</p>
            {% endfor %}
            -->
                
        {% else %}
            <!--<p>Такой олимпиады нет в списке =(. Сообщите разработчикам, если встретили ошибку</p>-->
        {% endif %}

    </main>

{% endblock %}